<footer class="footer footer-default">
	<div class="container">
		<nav class="float-left">
			<ul>
				<li>
					<a>
						Ka'ygua - Apps
					</a>
				</li>
			</ul>
		</nav>
		<div class="copyright float-right">
			&copy;
			<script>
				document.write(new Date().getFullYear())
			</script>, hecho con <i class="material-icons">favorite</i> por manos Uruguayas.
		</div>
	</div>
</footer>