<!DOCTYPE html>
<html lang="en">
<%- include('_head.ejs') %>

<body>
<%- include('_menu.ejs')%>

<div class="page-header header-filter" data-parallax="true" style="background-image: url('https://www.foootage.com/system/images/files/000/002/306/original/abstract-arrangement-art-background-blur.jpg?1511075707')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1><i class="fas fa-broadcast-tower"></i>El faro</h1>
            <h3 class="title text-center">Subtitle</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <h2 class="title">Your main section here</h2>
      </div>
    </div>
  </div>
<%- include('_footer.ejs') %>
</body>

</html>