<!DOCTYPE html>
<html lang="en">

<%- include('_head.ejs') %>

<body class="profile-page sidebar-collapse">
	<%- include('_menu.ejs') %>

	<div class="page-header header-filter" data-parallax="true"
		style="background-image: url('../assets/img/lighthouse.jpg');"></div>

	<div class="main main-raised">
		<div class="container">
			<div class="section text-center">
				<div class="row">
					<div class="col-md-8 ml-auto mr-auto">
                    <h1 class="text-center">Panel de control</br></h1>
                    <h2> Bienvenido <%= user.nombre + ' ' + user.apellido %> </br></br></br></h2>
						<form>
							<div class="form-group">
								<label for="exampleInputEmail1">Nombre</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Apellido</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Pais</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Ciudad</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Direccion</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Código postal</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Telefono</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Genero artístico</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Facebook</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Instagram</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Youtube</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Describe al público quien eres y que haces</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Links de tus videos</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Links de tus fotografias / pinturas / etc...</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Link de tu boton perzonalizado de PayPal</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
							<button type="submit" class="btn btn-primary">Guardar cambios</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%- include('_footer')%>
</body>

</html>